@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/card.css");


body
	{font-family: 'Lora', serif;
 	font-size: 18px;
  	margin: 0px;}

h1
	{font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 40px;}

h2
	{font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;}

h3
	{font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 23px;
	flex-grow: 1;
	padding-left: 20px;}	

a {text-decoration: none;}